.taskShow{
    width: 55%;
    margin: auto;
    
}

.fadeDelete{
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}